html {
  box-sizing: border-box;

} *, *:before, *:after {box-sizing: inherit;
}

body {
  font-family: avenir, sans-serif;
  position: relative;
  font-size: 15px;
  padding: 0;
  overflow: scroll;
}


/*SIDEBAR*/

.sidebar {
  position: fixed;
  width: 250px;
  top: 0px;
  left: 0px;
  padding: 0 20px;
  font-variant-caps: all-petite-caps;
}

li {
  line-height: 1.2em;
  list-style: none;
  padding: 5px 0;
}

li a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0px;
}

.sidebararticle {
  border-top: 1px solid black;
}

.sidebararticle h3 {
  text-align: center;
}

.sidebararticle h3 a {
color: black;
font-weight: normal;
}

.sidebararticle p {
  text-align: center;
}

h1 {
  font-size: 4.5em;
  text-align: center;
margin: 0;
}

.bordertext {
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin: 20px 30px;
  padding: 0 5px;
}

.morenav h2{
  font-weight: normal;
  position: fixed;
  bottom: 0;
}
/*END OF SIDEBAR*/

/*ADIOS UTOPIA SECTION*/

.Adios {
float: right;
position: fixed;
  width: 40%;
  top: 0;
  left: 250px;
  text-align: center;
  clear: left;
}

.Adios img {
  width: 100%;
  margin: 0;
  position: relative;
  z-index: -10;
  display: block;
  min-height: 100%;
  min-width: 100%;
}
.adios_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
  color: white;
  font-weight: normal;
  font-variant-caps: all-petite-caps;
}

#onview {
  position: absolute;
  top: -325px;
  left: 100px;
}

#exhibition {
  position: absolute;
  top: 335px;
  left: 80px;
}

.adios_content img{
  width: 150%;
  position: absolute;
  top: -150px;
  left: -25%;
}


/*RIGHT SCROLL SECTION*/


.right {
  float: right;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 800px;
  margin: 0 15px;
  overflow: scroll;
}

.right article {
  border-bottom: 5px solid #efefef;
  padding: 15px 0;
}

.right h1 {
  font-size: 2em;
}

.right img {
  width: 100%;
}

.right .bordertext {
  text-decoration: none;
  font-size: normal;
  font-variant-caps: all-petite-caps;
  color: black;
  margin: 0;
  margin-bottom: 15px;
}


/********SLIDESHOW********/
#exhibitions {
  float: left;
}

#seeall {
float: right;
}

button {
  float: right;
  border: none;
  margin-right: 5px;
}

.arrow-right {
  margin-right: 15px;
}

.slideshow {
  overflow: hidden;
  position: relative;
}

.slides {
  float: left;
  max-width: 250px;
  margin-top: 20px;
  clear: both;
}

/***NEWS SECTION******/
.left {
  float: left;
  font-family: baskerville;
}

.author {
  float: right;
  font-size: 1em;
  font-weight: normal;
  font-variant-caps: all-petite-caps;
}

.news h1 {
  clear: both;
  font-weight: normal;
  font-size: 1.8em;
}

.news p {
  font-family: baskerville, serif;
  font-size: 1.2em;
  color: #555;
}

.type {
  max-width: 80px;
  margin-top: 10px;
}
