html {
  box-sizing: border-box;

} *, *:before, *:after {box-sizing: inherit;
  margin: 10px;
}

body {
  font-family: avenir, sans-serif;
  position: relative;
  font-size: 15px;
  padding: 0;
}

.sidebar {
  position: fixed;
  width: 250px;
  top: 0px;
  left: 0px;
  font-variant-caps: all-petite-caps;
  border: 1px solid red;
}

li {
  line-height: .9em;
  list-style: none;
}

ul {
  border: 1px solid green;
  padding: 0px;
}

.sidebararticle {
  border-bottom: 1px solid black;
}

h1 {
  font-size: 5em;
  text-align: center;
margin: 0;
border: 1px solid maroon;
}

.Adios {
  position: fixed;
  width: 40%;
  top: 0;
  left: 250px;
  text-align: center;
  border: 1px solid blue;
  clear: right;
}

.Adios img {
  width: 100%;
  margin: 0;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 800px;
  border: 1px solid cyan;
}

.right h1 {
  font-size: 2em;
}
